/* BackgroundAnimation.css */

/* Main default background */




@keyframes bgAnim {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Croco Nutrition Background */


/* Croco Team Background */
.team-bg {
  background-image: url('C:\Users\user\Desktop\work\croco\frontend\public/azer.jpg');
}

/* Croco Wear Background */

